body, html {
  width: 100%;
  height: 100%;
  margin: 0;
}

body {
  background-image: url('https://s3.amazonaws.com/codepen-njmyers/tic-tac-toe/lines.png');  
  font-family: 'Gloria Hallelujah', cursive;
  text-align: center;
}

h1 {
  font-size: 4em;
}

.background {
  position: relative;
  background: rgba(255, 237, 152, .8);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-fluid {
  position: relative;
  margin-top: -30px;
}

#choose-side {
}

.tally {
  margin-top: -40px;
  margin-bottom: 20px;
  position: relative;
}

.container {
  position: relative;
}

#player-tally, #computer-tally {
  position: absolute;
}

#player-tally {
  left: 15px;
}

#computer-tally {
  right: 15px;
}

#tic-tac-toe {
  position: relative;
}

#tic-tac-toe div div {
  height: 100px;
  width: 100px;
  border: 8px solid black;
  display: inline-block;
  font-size: 90px;
  position: relative;
  margin: 0;
}

#tic-tac-toe div div span {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (max-width: 780px) {
  #tic-tac-toe div div {
    height: 80px;
    width: 80px;
    font-size: 75px;
    border-width: 6px;
  }

  h1 {
    font-size: 3em;
    margin-top: 2em;
  }
}

@media (max-width: 580px) {
  #tic-tac-toe div div {
    height: 60px;
    width: 60px;
    font-size: 60px;
    border-width: 6px;
  }

  h1 {
    font-size: 2em;
    margin-top: 3em;
  }
}

button {
  font-family: 'Gloria Hallelujah', cursive;
  border: none;
  font-size: 50px;
  width: 70px;
  height: 100px;
  margin-bottom: 20px;
  background: none;
  padding: 2px;
}

button:hover {
  cursor: pointer;
  border: 2px red dashed;
  border-radius: 40%;
  padding: 0;
}

button:active {
  border: none;
}

button:focus {
  outline: none;
}



#winner {
  font-size: 40px;
  margin: 0 0 -20px 0;
}

.post-win {
  position: relative;
}

#new-game {
  cursor: pointer;
  width: 120px;
  height: 40px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  padding: 2px;
}

#new-game:hover {
  cursor: pointer;
  border: 2px red dashed;
  border-radius: 40%;
  padding: 0;
}

#new-game:active {
  border: none;
}

.hide {
  display: none;
}

.red {
  color: red;
}